* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Hellix';
    font-weight: 400;
    max-width: 1600px;
    background: linear-gradient(7.28deg, #d2e6ff 0%, #ffff 99.69%);
    color: #111235;
}
.bold {
    font-family: 'Normal';
    font-weight: 900;
}
p {
    line-height: 24px;
}
a {
    text-decoration: none;
    color: #111235;
}
ul {
    list-style: none;
}